<template>
    <div>
        <h3 class="text-center">Editar tarea</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="actualizarTarea">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" v-model="tarea.nombre">
                    </div>
                    <div class="form-group">

                        <ul v-for="categoria in tarea.categorias" :key="categoria.nombre">
                            <input type="checkbox" v-model="categoria.nombre">
                            <label >PHP</label>
                        </ul>
    <!--
                        <input type="checkbox" id="js" v-model="tarea">
                        <label for="Javascript">Javascript</label>
                        <input type="checkbox" id="CSS" v-model="checked">
                        <label for="CSS">CSS</label>
                        -->
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                tarea: {
                    nombre : '',
                    categorias : {}
                }
            }
        },
        created() {
            this.axios
                .get(`/api/tarea/edit/${this.$route.params.id}`)
                .then((response) => {
                    this.tarea = response.data;
                    console.log(response.data);
                });
        },
        methods: {
            actualizarTarea() {
                this.axios
                    .post(`/api/tarea/update/${this.$route.params.id}`, this.tarea)
                    .then((response) => {
                        this.$router.push({name: 'Tareas'});
                    });
            }
        }
    }
</script>
