<template>

    <div class="container">
		<h1 style="padding:1em; text-align:center;">Gestor de tareas</h1>
			<p v-if="errors.length">
				<b>Por favor, corrija el(los) siguiente(s) error(es):</b>
					<ul>
					  <li v-for="error in errors">{{ error }}</li>
					</ul>
			</p>
  
			 <form @submit.prevent="crearTarea">
			         <div class="row col-md-12">

						<div class="form-group col">
							<label>Nombre</label>
							<input type="text" class="form-control" v-model="tarea_crear.nombre" placeholder="Nueva tarea...">
						</div>
						
						<div class="form-group align-self-end" v-for="(cat, id) in categorias" :key="id">
						
							<div class="form-check form-check-inline">	
								<input :name="cat.nombre" :id="cat.nombre" class="form-check-input" type="checkbox" v-model="tarea_crear.categoria[id]">
								<label :for="cat.nombre" class="form-check-label" v-model="tarea_crear.categoria[cat]"> {{ cat.nombre }}</label>
							</div>
					
						</div>
						
						
						<div class="col-auto mt-auto">
							<button style="margin-bottom:1em;" type="submit" class="btn btn-lg btn-block btn-primary">Crear</button>
						</div>
						
						
					</div>

			</form>
        
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Tarea</th>
                <th>Categorias</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(tarea,indice) in tareas" :key="tarea.id">
                <td>{{ tarea.nombre }}</td>

	
				<td>
					<div v-for="cat in tarea.categoria" :key="cat.nombre">
					<h4 style="text-align:center; color:#fff;"><span class="badge bg-secondary">{{cat.nombre}}</span></h4>
					</div>
                </td>
				
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-danger" @click="borrarTarea(tarea.id,indice)">Borrar</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
    export default {
        data() {
            return {
			    errors: [],
                tareas: [],
				categorias: [],
                tarea_crear : {
					id : null,
					nombre : null,
					categoria : {}
				}
            }
        },
        created() {
            this.axios
                .get('/api/tareas')
                .then(response => {
                    this.tareas = response.data;
                });
            this.axios
                .get('/api/categorias')
                .then(response => {
                    this.categorias = response.data;
		
                });				
        },
        methods: {
			pintarTarea() {
				var ttarea = [];
				ttarea['nombre'] = this.tarea_crear.nombre,
				ttarea['categoria'] = [],
				ttarea['id'] = this.tarea_crear.id;
				for (var categoria in this.tarea_crear.categoria) {
					ttarea.categoria.push(this.categorias[categoria]);
				};
				this.tarea_crear = { 
					categoria : {},
					nombre : null,
					id : null
				},
				this.tareas.unshift(ttarea)
			},
            crearTarea() {
				this.errors = [];
				if (!this.tarea_crear.nombre) {
					this.errors.push('El nombre es obligatorio.');
					return;
				}
                this.axios
                    .post('/api/tarea/add', this.tarea_crear)
                    .then(response => (
						this.tarea_crear.id = response.data.id,
						this.pintarTarea()
					))
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false)
            },
			borrarTarea(id,itabla) {
                this.axios
                    .delete(`/api/tarea/delete/${id}`)
                    .then(response => (
						this.tareas.splice(itabla,1)
					))
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false)
            }
        }
    }
</script>
